

html{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

header, nav{
    margin: 0;
    padding: 0; 
    border: 0;
}

main{
    margin: 20px;
    padding: 20px;
}

footer{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 20vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #262626;
    }
    footer ul{
    display: flex;

    }



  /*  */


  .contact-link{
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    min-width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
  }
  .contact-link:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit
    /* background: #d35400; */
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
  }
  .contact-link:nth-child(1):before{
    background: rgba(243, 3, 183, 0.952);
  }
  .contact-link:nth-child(2):before{
    background: rgb(223, 247, 3);
  }
  .contact-link:nth-child(3):before{
    background: rgb(243, 139, 2);
  }

  .contact-link:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
  }
  .contact-link:nth-child(1):hover:before{
    box-shadow: 0 0 15px rgba(243, 3, 183, 0.952);
  }
  .contact-link:nth-child(2):hover:before{
    box-shadow: 0 0 15px rgb(223, 247, 3);
  }
  .contact-link:nth-child(3):hover:before{
    box-shadow: 0 0 15px rgb(243, 139, 2);
  }

  .contact-link:nth-child(1):hover{
    color: rgb(243, 139, 2);
    box-shadow: 0 0 15px rgb(243, 139, 2);
    text-shadow: 0 0 15px rgb(243, 139, 2);
  }
  .contact-link:nth-child(2):hover{
    color: rgb(223, 247, 3);
    box-shadow: 0 0 15px rgb(223, 247, 3);
    text-shadow: 0 0 15px rgb(223, 247, 3);
  }
  .contact-link:nth-child(3):hover{
    color: rgba(243, 3, 183, 0.952);
    box-shadow: 0 0 15px rgba(243, 3, 183, 0.952);
    text-shadow: 0 0 15px rgba(243, 3, 183, 0.952);
  }

  .displaytitle{
    font-family: 'Montserrat', sans-serif; color: white;

  }

  @media screen and (max-width: 576px) { 
      .displaytitle {
          font-size: 4rem;
      }
   }




   .navbar-light .navbar-brand.headfontcolor {
    color: rgb(16, 68, 241);
}

.backgroundcolor {
    background-color: white;

}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link {
    color: rgb(16, 68, 241);
}

.card-img-top {
    height: 32px;
    margin-right: 12px;
    width: 32px;
    border-radius: 100%;
    align-items: center;
}

.card-body {
    color: rgb(32, 33, 36);
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    padding: 0px;
    padding-top: 16px;




}
}

.card-text {
    color: rgb(32, 33, 36);
    font-size: 16px;
    display: inline-block;
    width: 450px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;



}

.quote {
    text-align: center;
}

.list-inline-item {
    margin-right: 0.5rem;
    color: #6c757d;
    padding: 0.25rem;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

.card {
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;


}

.card-title {
    color: rgb(16, 68, 241);
    font-size: 16px;
    margin: 0px;
}

.aboutme {
    margin-top: 0px;
}


.quote {
    text-align: center;

}

.card-title-wraper{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.no-link{
    text-decoration: none;
    color: inherit;
}

.no-link:hover{
    text-decoration: none;
    color: inherit;
}